:root {
    --step--1: clamp(0.83rem, calc(0.81rem + 0.10vw), 0.90rem);
    --step-0: clamp(1.00rem, calc(0.96rem + 0.18vw), 1.13rem);
    --step-1: clamp(1.20rem, calc(1.14rem + 0.29vw), 1.41rem);
    --step-2: clamp(1.44rem, calc(1.35rem + 0.45vw), 1.76rem);
    --step-3: clamp(1.73rem, calc(1.59rem + 0.67vw), 2.20rem);
    --step-4: clamp(2.07rem, calc(1.88rem + 0.96vw), 2.75rem);
    --step-5: clamp(2.49rem, calc(2.22rem + 1.35vw), 3.43rem);
    --step-6: clamp(2.99rem, calc(2.61rem + 1.86vw), 4.29rem);
    --step-7: clamp(3.58rem, calc(3.07rem + 2.54vw), 5.36rem);
    --step-8: clamp(4.30rem, calc(3.61rem + 3.44vw), 6.71rem);
    --clr-black: #000000;
    --clr-black-400: #2A2828;
    --clr-black-500: #3C3C3C;
    --clr-white: #FFFFFF;
    --clr-white-900: #fafafa;
    --clr-white-800: #F7F6F6;
    --clr-orange: #F95F34;
    --clr-grey: #ffffff33;
    --clr-grey-800: #D0D0D0;
    --clr-transparent: transparent;
    --ff-clash: 'Clash Display', sans-serif;
    --ff-supreme: 'Supreme', sans-serif;
    --ff-IBM: 'IBM Plex Mono', monospace;
    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --fw-900: 900;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    height: 100%;
    font-size: var(--step-0);
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--clr-black);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

a {
    text-decoration: none;
    color: var(--clr-white);
    font-family: var(--ff-supreme);
}

button {
    outline-color: transparent;
}


@media screen and (max-width: 1439px) {
    section {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.rebank-showcase {
    max-width: 1280px;
    margin: 0 auto;
}

/* Header Starts Here*/
.rebank-header {
    width: 100%;
}


.rebank-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.rebank-header .rebank-menu {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
}

.rebank-header .rebank-menu div {
    width: 25px;
    height: 2px;
    margin: 3px 0;
    user-select: none;
    background-color: var(--clr-white);
}

@media screen and (max-width: 1439px) {
    .rebank-nav {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .rebank-nav {
        padding-right: 2.5rem;
        padding-left: 2.5rem;
    }
}

@media screen and (max-width: 475px) {
    .rebank-header {
        border-bottom: 1px solid var(--clr-grey);
    }

    .rebank-nav {
        display: flex;
        flex-direction: row-reverse !important;
        align-items: center;
        justify-content: space-between;
    }

    .rebank-nav .header-btn {
        display: none;
    }
}

/* Header Ends Here */

/* Utilities Starts Here*/
.rebank-logo {
    font-size: var(--step-1);
    color: var(--clr-white);
    font-family: var(--ff-supreme);
    font-weight: var(--fw-900);
    letter-spacing: 1px;
}

.btn-primary {
    padding: .5rem 1.25rem;
    background: none;
    background-color: var(--clr-white);
    border-radius: var(--step-2);
    font-size: var(--step-0);
    color: var(--clr-black);
    border: none;
    cursor: pointer;
}

.btn-secondary {
    padding: .7rem 1rem;
    background: none;
    background-color: var(--clr-grey);
    border-radius: var(--step-2);
    font-size: var(--step-0);
    color: var(--clr-white);
    border: none;
    cursor: pointer;
}

.btn-tertiary {
    padding: 1rem 1.5rem;
    background: none;
    background-color: var(--clr-transparent);
    border-radius: var(--step-2);
    font-size: var(--step-0);
    color: var(--clr-white);
    border: 1px solid var(--clr-white);
    cursor: pointer;
}

.orange {
    color: var(--clr-orange);
}

.full-bleed {
    box-shadow: 0 0 0 100vmax var(--clr-white-800);
    clip-path: inset(0 -100vmax);
}

.half-bleed {
    clip-path: inset(0 -3.125rem);
}

.tag {
    font-family: var(--ff-IBM);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.blur {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 400px;
    width: 400px;
    background: rgba(130, 130, 130, 0.29);
    filter: blur(136px);
    z-index: -3;
}

.blur-orange {
    top: 0;
    right: 0;
    background: rgba(249, 95, 52, 0.15);
    filter: blur(136px);
}

.underline {
    border-bottom: 1px solid var(--clr-white);
}

/* Utilities Ends Here */

/* Hero Section || Main Section Starts Here */
main {
    position: relative;
}

.hero-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.hero-content-left .intro-text {
    color: var(--clr-white-900);
    font-size: var(--step-8);
    font-family: var(--ff-clash);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    line-height: 120%;
    margin-bottom: 1.5rem;
    transform: translateY(100px);
    opacity: 0;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hero-content-left .intro-desc {
    color: var(--clr-white);
    font-family: var(--ff-supreme);
    margin-bottom: 2.5rem;
    font-weight: var(--fw-400);
    width: 40%;
    opacity: 0;
    transform: translateY(100px);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.hero-content-left .hero-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
}

.hero-content-left .hero-btn-wrapper a:first-child {
    margin-right: 1rem;
}

.hero-content-left .hero-btn {
    opacity: 1;
    transform: translateY(0);
}

.hero-content-left .hero-btn i {
    color: var(--clr-white);
    font-size: var(--step-0);
    margin-right: .5rem;
}

.hero-content-right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: url("https://res.cloudinary.com/cyher/image/upload/v1690712186/deviceorange_bmjtlu.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin-left: clamp(-18rem, calc(-20rem + 5vw), -25rem);
    z-index: -1;
}

.hero-content-right .ellipse {
    width: 80%;
    margin-bottom: -3rem;
    opacity: 1;
    scale: 1;
    z-index: -1;
}

@media screen and (max-width: 2560px) {
    .hero-content-right {
        width: 100%;
        height: 26vh;
        margin-left: -7rem;
    }
}

@media screen and (max-width: 1440px) {
    .hero-content-right {
        width: auto;
        height: 80vh;
        margin-left: -7.5rem;
    }
}

@media screen and (max-width:1024px) {
    .hero-content-left .intro-text {
        font-size: var(--step-7);
    }

    .hero-content-left .intro-desc {
        width: 60%;
    }

    .hero-content-right {
        width: auto;
        height: auto;
    }
}

@media screen and (max-width:768px) {
    .hero-section {
        display: grid;
        grid-template-columns: 1fr;
        overflow: hidden;
    }

    .hero-content-left .intro-text {
        font-size: var(--step-6);
    }

    .hero-content-left .intro-desc {
        width: 80%;
    }

    .hero-content-right {
        height: auto;
    }

    .hero-content-right .ellipse {
        display: none;
    }
}

@media screen and (max-width: 475px) {
    .hero-section {
        display: grid;
        grid-template-columns: 1fr;
        align-content: start;
        padding-top: 4rem;
    }

    .hero-content-left .intro-text {
        font-size: var(--step-5);
        line-height: 130%;
    }

    .hero-content-left .intro-desc {
        width: min(90vw, 100%);
    }

    .hero-content-right {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .hero-content-left .intro-text {
        font-size: var(--step-4);
    }
}

@media screen and (max-width: 320px) {
    .hero-content-left .intro-text {
        line-height: 50px;
    }
}

/* Hero Section || Main Section Ends Here */

/* Features Section Starts Here */
.features-section {
    width: 100%;
    background-color: var(--clr-white-800, #F7F6F6);
    padding: 2rem .1rem;
}

.features-section .features-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5em 0;
    color: var(--clr-black);
    font-family: var(--ff-clash);
    font-size: var(--step-1);
    font-weight: var(--fw-700);
    text-align: center;
    text-transform: uppercase;
}

.features-section .companies-logo {
    position: relative;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

.features-section .companies-logo .div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 200%;
    height: auto;
    overflow: hidden;
    animation: marquee 5s linear infinite;
}

.features-section .companies-logo span {
    float: left;
    width: 50%;
    height: auto;
    margin: auto 1rem;
}

.features-section .companies-logo span>img {
    max-width: 100%;
    height: auto;
    margin: auto 1rem;
}

.features-section .features-main-container {
    width: 100%;
    background-color: var(--clr-orange, #F95F34);
    padding: 8rem 2rem 3rem 2rem;
    margin-bottom: 3rem;
}

.features-main-container .features-tag {
    color: var(--clr-black);
}

.features-main-container .features-intro-text {
    color: var(--clr-white);
    font-size: var(--step-2);
    font-family: var(--ff-clash);
    font-weight: var(--fw-700);
    margin-bottom: 2rem;
    line-height: 74px;
    text-transform: uppercase;
}

.features-main-container .features-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1.5rem;
}

.features-main-container .features-card {
    position: relative;
    width: auto;
    height: 580px;
    padding-left: 2.5rem;
    padding-bottom: 2.5rem;
    background-color: var(--clr-black);
    overflow: hidden;
}

.features-main-container .card-left {
    background-image: url('https://res.cloudinary.com/cyher/image/upload/v1690712480/cardholder_grhvts.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;

}

.features-main-container .card-right {
    background-image: url('https://res.cloudinary.com/cyher/image/upload/v1690712476/threephones_ppv8ce.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.features-card .features-card-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.features-main-container .features-card::before {
    content: url('./images/star.png');
    position: absolute;
    top: 10%;
    left: 10%;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: none;
    animation: rotate 10s infinite linear;
}

.features-card .feature-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: -1;
}

.features-card .feature-card-title {
    color: var(--clr-white);
    font-family: var(--ff-clash);
    font-weight: var(--fw-600);
    font-size: var(--step-3);
    line-height: 50px;
    margin-bottom: 1rem;
}

.features-card .feature-card-desc {
    width: 90%;
    color: var(--clr-grey-800);
    font-family: var(--ff-supreme);
    font-weight: var(--fw-400);
    font-size: var(--step-0);
    margin-bottom: 2rem;
}

@media screen and (max-width: 1024px) {
    .features-section {
        padding: .1rem 2rem;
    }

    .features-main-container .features-intro-text {
        font-size: var(--step-4);
        line-height: 60px;
    }

    .features-card .feature-card-title {
        line-height: 40px;
    }

    .features-main-container .features-card {
        padding: 2rem;
    }

    .features-card .feature-card-desc {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .features-section .features-main-container {
        padding-top: 6rem;
    }

    .features-main-container .features-intro-text {
        line-height: 45px;
    }

    .features-card .feature-card-desc {
        width: 90%;
    }
}

@media screen and (max-width: 475px) {
    .features-section {
        padding: .1rem 1rem;
    }

    .features-section .companies-logo {
        height: 50px;
    }

    .features-section .companies-logo span {
        width: auto;
        margin: auto .5rem;
    }

    .features-section .features-main-container {
        padding: 3rem 1rem 1rem 1rem;
    }

    .features-main-container .features-card-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .features-main-container .features-card {
        height: 480px;
        padding: 1.5rem;
    }

    .features-card .feature-card-title {
        line-height: 30px;
    }

    .features-main-container .features-intro-text {
        line-height: 30px;
    }

    .features-card .feature-card-desc {
        width: 100%;
    }
}

@media screen and (max-width: 375px) {
    .features-card .feature-card-title {
        font-size: var(--step-2);
    }
}

@media screen and (max-width: 320px) {
    .features-card .feature-card-title {
        font-size: var(--step-1);
    }

    .features-main-container .features-card::before {
        left: 15%;
    }
}

/* Features  Section Ends Here*/

/* Personalisation Starts Here */
.personalise-section {
    position: relative;
    padding-top: 7rem;
}

.personalise-section .personalise-intro-text {
    margin-bottom: 2rem;
    color: var(--clr-white);
    font-family: var(--ff-clash);
    font-size: var(--step-2);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    line-height: 80px;
}

.personalise-section .personalise-intro-desc {
    width: 60%;
    margin-bottom: 2rem;
    color: var(--clr-grey-800);
    font-family: var(--ff-supreme);
    font-size: var(--step-0);
    font-weight: var(--fw-400);
}

.personalise-section .personalise-content-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.personalise-section .personalise-content-bottom img {
    max-width: 100%;
    height: auto;
    margin-top: -3rem;
    object-fit: cover;
}

@media screen and (max-width:1024px) {
    .personalise-section .personalise-intro-text {
        font-size: var(--step-4);
        line-height: 65px;
    }

    .personalise-section .personalise-intro-desc {
        width: 60%;
    }

    .personalise-section .personalise-content-bottom img {
        margin-top: 1rem;
    }
}

@media screen and (max-width:768px) {
    .personalise-section .personalise-intro-text {
        line-height: 45px;
    }

    .personalise-section .personalise-intro-desc {
        width: 80%;
    }

    .personalise-section .personalise-content-bottom img {
        margin-top: 0;
    }
}

@media screen and (max-width: 475px) {
    .personalise-section {
        overflow: hidden;
    }

    .personalise-section .personalise-intro-text {
        line-height: 30px;
    }

    .personalise-section .personalise-intro-desc {
        width: 100%;
    }

    .personalise-section .personalise-content-bottom {
        width: 500px;
        height: auto;
    }

    .personalise-section .personalise-content-bottom img {
        margin-top: 1rem;
        width: 100%;
    }
}

/* Personalisation Ends Here */

/* FAQS Starts Here */
.faqs-section {
    padding: 6rem 0;
}

.faqs-section .faqs-title {
    display: flex;
    justify-content: center;
    color: var(--clr-white);
    font-family: var(--ff-clash);
    font-size: var(--step-2);
    font-weight: var(--fw-700);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.faqs-section .faqs-desc {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    color: var(--clr-grey-800);
    font-family: var(--ff-supreme);
    font-size: var(--step-0);
    font-weight: var(--fw-400);
}

.faqs-question-container {
    width: min(700px, 85%);
    margin: 0 auto;
}

.faqs-question-container .faq {
    width: 100%;
    margin-top: 2rem;
    padding: 1.2rem 0;
    border-bottom: 1px solid var(--clr-black-400);
}

.faqs-question-container .question {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faqs-question-container .question h3 {
    color: var(--clr-white-800);
    font-family: var(--ff-supreme);
    font-size: var(--step-0);
    font-weight: var(--fw-400);
}

.faqs-question-container .answer {
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
    transition: max-height .3s ease-in-out;
}

.faqs-question-container .faq svg {
    transition: transform .1s ease-in-out;
    cursor: pointer;
}

.faqs-question-container .answer p {
    color: var(--clr-grey-800);
    font-family: var(--ff-supreme);
    font-size: var(--step-0);
    margin-top: 1rem;
}

.faqs-question-container .faq.active .answer {
    max-height: 300px;
    animation: fadeIn .4s ease-in-out;
}

.faqs-question-container .faq.active svg {
    transform: rotate(180deg);
}

@media screen and (max-width: 1024px) {
    .faqs-section .faqs-title {
        font-size: var(--step-4);
    }
}

/* FAQS Ends Here */

/* CTA Starts Here */
.cta-section {
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.cta-section .cta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: var(--clr-orange);
    border-radius: 13rem;
    padding: 3rem 0;
    overflow: hidden;
    z-index: 1;
}

.cta-section .cta-title {
    margin-bottom: 1rem;
    color: var(--clr-white);
    font-family: var(--ff-clash);
    font-size: var(--step-3);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    line-height: 65px;
}

.cta-section .cta-desc {
    margin-bottom: 1.5rem;
    color: var(--clr-white);
    font-family: var(--ff-supreme);
    font-size: var(--step-0);
    font-weight: var(--fw-400);
}

.cta-section .cta button {
    padding: .625rem 4rem;
}

.cta-section .cta .hands {
    position: absolute;
    top: 0;
    z-index: -1;
}

.cta-section .cta .wave {
    position: absolute;
    width: 100%;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    .cta-section .cta-title {
        font-size: var(--step-2);
    }
}

@media screen and (max-width: 475px) {
    .cta-section .cta {
        border-radius: 1rem;
    }

    .cta-section .cta-title {
        line-height: 30px;
    }

    .cta-section .cta-desc {
        width: 95%;
    }

    .cta-section .cta button {
        padding: .625rem 2rem;
    }

    .cta-section .cta .hands {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
}

/* CTA Ends Here */

/* Footer Starts Here */
.footer-section {
    width: 100%;
}

.footer-section .footer-section-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 6rem;
    gap: 10rem;
    border-bottom: 1px solid var(--clr-black-500);
}

.footer-section-wrapper .footer-section-left {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.footer-section-left .link {
    list-style: none;
    margin-bottom: 1rem;
    color: var(--clr-white);
    font-family: var(--ff-clash);
    font-size: var(--step-0);
    font-weight: var(--fw-600);
}

.footer-section-left li:not(.link) {
    list-style: none;
    margin-bottom: 1rem;
    color: var(--clr-white);
    font-family: var(--ff-supreme);
    font-size: var(--step--1);
    font-weight: var(--fw-400);
}

.footer-section-right .newsletter-title {
    margin-bottom: 1rem;
    color: var(--clr-white);
    font-family: var(--ff-clash);
    font-size: var(--step-0);
    font-weight: var(--fw-600);
    text-transform: uppercase;
}

.footer-section-right .newsletter-desc {
    margin-bottom: 1rem;
    color: var(--clr-white);
    font-family: var(--ff-supreme);
    font-size: var(--step--1);
    font-weight: var(--fw-400);
}

.footer-section .newsletter-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer-section .newsletter-form-container input[type="email"] {
    width: 100%;
    padding: .8rem;
    font-size: var(--step-0);
    font-family: var(--ff-supreme);
    border: none;
    border-radius: 2.813rem;
    margin-right: 1rem;
    outline: none;
    outline-color: var(--clr-transparent);
}

.footer-section-right .newsletter-policy {
    color: var(--clr-white);
    font-family: var(--ff-supreme);
}

.footer-social-section {
    margin: 0 1.5rem;
}

.footer-section .footer-social-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1.5rem 0 3rem 0;
    gap: 1rem;
}

.footer-social-section .license-links {
    display: flex;
}

.footer-social-section .license-links li {
    list-style: none;
    margin-right: 1.5rem;
    color: var(--clr-white);
    font-family: var(--ff-supreme);
    font-size: var(--step--1);
    font-weight: var(--fw-400);
}

.footer-social-section .social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer-social-section .social-icons i {
    color: var(--clr-white);
    margin-left: 1rem;
}

@media screen and (max-width: 1024px) {
    .footer-section .footer-section-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 4rem;
    }

    .footer-section-right {
        text-align: center;
        width: min(90%, 800px);
        margin: 0 auto;
    }

    .footer-section-right .newsletter-title {
        font-size: var(--step-1);
    }

    .footer-section .footer-social-section {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }
}

@media screen and (max-width:475px) {
    .footer-section-wrapper .footer-section-left {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: start;
    }

    .footer-section-left ul {
        padding: 0;
    }

    .footer-section-right {
        text-align: left;
        width: 100%;
    }

    .footer-section .newsletter-form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .footer-section .newsletter-form-container input[type="email"] {
        margin-right: 0;
    }

    .footer-section .newsletter-button-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .footer-section .newsletter-form-container a {
        width: 100%;
        margin-top: 1rem;
    }

    .footer-section .newsletter-form-container button {
        width: 100%;
    }

    .footer-social-section {
        margin: 0;
    }

    .footer-section .footer-section-wrapper {
        padding-bottom: 3rem;
    }

    .footer-section .footer-social-section {
        display: inline-table;
    }

    .footer-social-section .social-icons {
        display: flex;
        justify-content: start;
        margin-top: 1rem;
    }

    .footer-social-section .social-icons .fa-facebook-f {
        margin: 0;
    }

    .footer-social-section .license-links {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .footer-social-section .license-links li {
        margin: 1rem 0;
    }

}

/* Footer Ends Here */
/* Coriz */
.corizon {
    font-size: var(--step--1);
    text-align: center;
    color: var(--clr-white);
    font-family: var(--ff-supreme);
    font-weight: var(--fw-400);
    text-decoration: underline;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-clamp {
    font-size: clamp(1.5rem, 0.9286rem + 2.8571vw, 3.5rem) !important;
}